@import "react-big-calendar/lib/css/react-big-calendar.css";

.select {
    margin-top: 1rem;
}

.p-highlight {
    background-color: #147fff;
    border: transparent;
    outline: none;
}

.p-button {
    border: transparent;
    outline: none;
}

.logo{
    width: 15rem;
    margin-left: 3%;
}

.toggle{
    margin-right: 3%;
}

.title{
    width: 10rem;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.3rem;
}

.add-btn{
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}