.img{
    width: 20vw;
}

.login-section{
    margin-top: 10rem;
}

.card{
    border-radius: 10px;
    background-color: #1B1550;
    margin-top: 1rem;
}

.login-tag{
    color: white;
    margin-top: 1rem;
}